.dashboard-container {
  height: 100vh;
  display: flex;
  background-color: #ea5532;
  background-image: url("/layout/images/PC-1.png");
  /* Replace with your image URL */
  background-size: cover;
  /* Cover the entire div */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.top-nav-bottom-view {
  display: none;
  background-color: white;
  font-size: 0.8rem;
  color: black;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ea5532;
}

.left-sidebar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .p-card .p-card-body {
    padding: 0.25rem;
  }

  .p-card .p-card-content {
    padding: 0.5rem;
  }

  .sidebar-card {
    width: 85%;
    height: 90%;
    background-color: white;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column; // Ensures content flows properly

    .left-sidebar-header {
      height: 180px;

      .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
      }

      .horizontalLine {
        width: 100%;
        border: 0;
        border-top: 2px dashed #ea5532;
        margin: 20px 0;
      }

      .header-first {
        font-size: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ea5532;

        &::before,
        &::after {
          content: "•";
          margin: 0 10px;
          font-size: 1.5em;
          color: #ea5532;
        }
      }

      .header-second {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .left-sidebar-content {
      overflow-y: auto;
      max-height: calc(100vh - 370px);
      scrollbar-width: none;

      .sampleDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
        border-bottom: 1px solid #ddd;

        &.last {
          border-bottom: none;
        }

        .text {
          font-size: 1em;
          color: #333;
        }

        .icon {
          font-size: 1em;
          color: #333;
        }
      }
    }

    .left-sidebar-footer {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      .footer-header {
        font-size: 0.8em;
        color: #555;
      }
    }
  }
}

.order-flow-header {
  font-size: 1rem;
  font-weight: bold;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  scrollbar-width: none;

  .container {
    padding: 1.5rem 2.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .section {
    margin-bottom: 2rem;
    padding-left: 2.5rem;
    position: relative;
  }

  .section:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 0%;
    top: 4rem;
    bottom: -1rem;
    border-left: 3px dotted #EA5532;
    transform: translateX(-50%);
  }


  .section-top {
    margin-bottom: 2rem;
    padding-left: 2.5rem;
    position: relative;
  }
  .section-top::after {
    content: '';
    position: absolute;
    left: 0%;
    top: 4rem;
    bottom: -1rem;
    border-left: 3px dotted #EA5532;
    transform: translateX(-50%);
  }

  .step {
    background-color: #EA5532;
    color: white;
    padding: 0.7rem 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 1rem;
    position: absolute;
    left: -2rem;
  }

  h2 {
    font-size: 1.25rem;
    margin: 1rem 0;
    color: #EA5532;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .distrubutionDetails {
    background-color: #f5f5f5;

    .distrubutionDetails-container {
      padding: 1rem;
      max-width: 800px;
      margin: 0 auto;

      h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2rem;
        font-weight: bold;
      }

      .distrubutionDetails-section {
        margin-bottom: 2rem;

        h2 {
          font-size: 1.25rem;
          background-color: #fff;
          color: black;
          padding: 0.5rem;
          margin-bottom: 1rem;
          font-weight: bold;
        }

        ul {
          list-style-type: disc;
          padding-left: 1.5rem;

          li {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            line-height: 1.5;
          }
        }
      }
    }
  }

  .distrubutionDetails-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0rem;

    .distrubutionDetails-footer-faqButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #EA5532;
      border: none;
      color: white;
      font-size: 1rem;
      width: 200px;
      height: 100px;
      text-align: center;
      border-radius: 0;

      .pi {
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }

      .p-button-label {
        display: block;
        font-size: 1.3rem;
      }
    }

    .distrubutionDetails-footer-contactButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid #EA5532;
      color: white;
      font-size: 1rem;
      width: 200px;
      height: 100px;
      text-align: center;
      border-radius: 0;
      background-color: transparent;

      .pi {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        color: #EA5532;
      }

      .p-button-label {
        display: block;
        font-size: 1.3rem;
        color: #EA5532;
      }
    }
  }

}

.right-sidebar {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .right-side-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .right-sidebar-inner-view {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;

    .sidebar-card {
      width: 50%;
      height: 10%;
      background-color: white;
      padding: 1rem;
      box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
      margin: 0;
      border-radius: 0;
    }
  }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 576px) {
  .dashboard-container {
    flex-direction: column;
    height: auto;
  }

  .top-nav {
    display: flex;
  }

  .top-nav-bottom-view {
    display: flex;
  }

  .left-sidebar {
    display: none;
  }

  .right-sidebar{
    display: none;
  }

  .left-sidebar,
  .content,
  .right-sidebar {
    width: auto;
    /* Reset width for each section */
  }

  .content {
    padding: 0rem 0rem 1rem 0rem;
  }
}

.topHomeCard .p-card{
  .p-card-body{
  padding: 0.5rem;
  }
  .p-card-content {
  padding: 0.5rem;
  }
  border-radius:0px;
}

