@media (min-width: 1536px) {
  .inputName {
    .custom-label {
      font-size: 1.4vw;
      margin-bottom: 25px;
    }
  }
  .contentWidth {
    width: 75vh;
  }
}

// @media (min-width: 1536px) {
//   .signupbutton {
//     height: 100%;
//     border-radius: $commonRadius;
//   }
// }

// @media (min-width: 769px) and (max-width: 1190px) {
//   .signupbutton {
//     margin-top: 10px;
//   }
// }

// @media (max-width: 567px) {
//   .signupbutton {
//     margin-top: 5px;
//   }
// }
