.randomOrderSelectButton {
    .p-selectbutton {
      .p-button {
        height: $commonHeight;
        background: #ffffff;
        border: 1px solid #ced4da;
        border-radius: 0px;
        color: #495057;
        width: 50%;
  
        &.p-highlight {
          background: var(--primary-color);
          border-color: var(--primary-color);
        }
  
        &:hover {
          background: var(--primary-color);
          border-color: var(--primary-color);
        }
      }
    }
  }
  
  @media (min-width:1536px){
    .randomOrderSelectButton {
      .p-selectbutton {
        .p-button {
          height: 100%;
          background: #ffffff;
          border: 1px solid #ced4da;
          border-radius: 0px;
          color: #495057;
          width: 50%;
  
          .p-button-label{
            font-size: 1.1vw;
          }
    
          &.p-highlight {
            background: var(--primary-color);
            border-color: var(--primary-color);
          }
    
          &:hover {
            background: var(--primary-color);
            border-color: var(--primary-color);
          }
        }
      }
    }
  }

//   .townDesignationSubmitButton {
//     height: $commonHeight;
//     border-radius: $commonRadius;
  
//     .p-button-icon {
//       font-size: $commonFontSize;
//     }
//     .pi{
//         font-size: $commonFontSize;
//     }
  
//     .p-button-label {
//       font-weight: $buttonFontWeight;
//       font-size: $commonFontSize;
//     }
//   }

  @media (min-width: 1536px) {
    .townDesignationSubmitButton {
      height: 100%;
      border-radius: $commonRadius;
    
      .p-button-icon {
        font-size: 1.3vw;
      }
      .pi{
          font-size: 1.3vw;
      }
      .p-button-label {
        font-weight: $buttonFontWeight;
        font-size: 1.3vw;
      }
    }
  }