.content-card {
  border: 0px 1px 1px 1px;
  .card-text {
    font-family: $cardFontStyle;
    font-size: $cardFontSize;
    font-weight: 350;
    line-height: $cardLineHeight;
    letter-spacing: $cardLetterSpacing;
  }
  .card-title {
    font-family: $cardFontSize;
    font-size: $cardFontSize;
    font-weight: 350;
    line-height: $cardLineHeight;
    letter-spacing: $cardLetterSpacing;
    text-align: right;
  }
  .card-description {
    font-family: $cardFontStyle;
    font-size: $cardFontSize;
    font-weight: 700;
    line-height: $cardLineHeight;
    letter-spacing: $cardLetterSpacing;
    text-align: left;
  }
}
