.custom-checkbox {
  .p-checkbox-box {
    height: $checkboxheight;
    border-radius: 50%;
  }
  .p-checkbox .p-checkbox-box {
    border-radius: 50%;
  }

  .p-checkbox .p-checkbox-box.p-highlight {
    background: var(--primary-color);
    border: var(--primary-color);
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background: var(--primary-color);
    border: var(--primary-color);
  }
}
