.header_class {
  background: $headerBgColor;
  font-size: $headerFontSize;
  font-weight: $headerFontWeight;
  line-height: $headerLineHeight;
  // letter-spacing: $headerLetterSpacing;
  // height: $headerHeight;
  height: auto;
  padding: 5px;

  .header-headerText {
    font-family: $headerFontStyle;
    font-size: $headerFontSize;
    font-weight: $headerFontWeight;
    line-height: $headerLineHeight;
    letter-spacing: $headerLetterSpacing;
    text-align: left;
  }
}

@media (min-width: 1536px) {
  .header_class {
    padding: 10px;
  }
}
@media (min-width: 1920px) {
  .header_class {
    padding: 15px;
  }
}

/* Media query for 2560px (4xl) */
@media (min-width: 2560px) {
  .header_class {
    padding: 20px;
  }
}

/* Media query for 3840px (5xl) */
@media (min-width: 3840px) {
  .header_class {
    padding: 25px;
  }
}

/* Media query for 4096px (6xl) */
@media (min-width: 4096px) {
  .header_class {
    padding: 50px;
  }
}

.header-button {
  width: auto;
  // height: $headerHeight;
  border: 1px;
  // padding: 4px, 8px, 4px, 8px;
  // gap: 6px;
}

.defaultContentHeaderStatusButton {
  height: 25px;
  border-radius: $commonRadius;

  .p-button-icon {
    font-size: $commonFontSize;
  }

  .p-button-label {
    font-weight: $buttonFontWeight;
    font-size: $commonFontSize;
  }
}